<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijoa-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `hijoa-element`
     * Componente hijo A
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HijoaElement extends Polymer.Element {
      static get is() { return 'hijoa-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'hijoa-element'
          }
        };
      }
    }

    window.customElements.define(HijoaElement.is, HijoaElement);
  </script>
</dom-module>
