<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijoa-element">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>[[prop1]]</h2>

    <section>
      <ul>
        <li>elemento a</li>
        <li>elemento b</li>
        <li>elemento c</li>
        <li>elemento d</li>
        <li>elemento e</li>
      </ul>
    </section>
  </template>

    <script>
        /**
         * `hijoa-element`
         * Componente hijo A
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class HijoaElement extends Polymer.Element {
            static get is() {
                return 'hijoa-element';
            }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'Lista'
                    }
                };
            }
        }

        window.customElements.define(HijoaElement.is, HijoaElement);
    </script>
</dom-module>